 <header>
     <nav class="navbar fixed-top navbar-expand-sm justify-content-between navbar-dark bg-nav-black p-0">
            <div>
                <a class="navbar-brand" href="#"><img src="/includes/images/glue-analytics.png" alt=""></a>
            </div>
            <a href="#" class="nav-link"><i class="fas fa-mail-box fa-lg"></i> Contact Us</a>
    </nav>
</header>