 <header>
    <nav class="navbar fixed-top navbar-expand-sm justify-content-between navbar-dark bg-nav-black p-0">
        <div>
             <a class="navbar-brand" href="#"><img src="/includes/images/glue-analytics.png" alt=""></a>
            <button id='toggle-nav' class="btn btn-link"><i class="fa fa-bars fa-lg"></i></button>
        </div>
        <a href="#" class="nav-link hide-on-xs "><i class="fas fa-user-circle fa-lg"></i> Sign out</a>
    </nav>
</header>