<div id="page-header-widgets">
	<div class="row">
		<div class="dashboard-selector-container align-left-lg col-sm-6">
			<label for="dashboard ">Dashboard</label>
			<select class="p-2 bg-cyan text-uppercase border-0 " name='dashboard'>
                  <option value="0 " selected>Overview</option>
                  <option value="1 " >Engagement</option>
                  <option value="1 " >Plays</option>
                  <option value="1 " >Content Views</option>
                  <option value="1 " >Site</option>
                  <option value="1 " >System</option>
                  <option value="1 " >Anual Report</option>
             </select> 
		</div>
		<div class="date-range-container col-sm-6 align-right-on-lg">
			<a class="btn-download"><i class="fa fa-download fa-fw fa-lg "></i></a>
            <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
				<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;&nbsp;
					 <span></span> <b class="caret"></b>
			</div>
		</div>
	</div>
		
</div>  <!-- page-header-widgets -->