 <ul id="quicklinks" class="justify-content-around">
    <li><a href="/">Support</a></li>
    <li class='line-spacer'></li>
    <li><a href="/">API Documentation</a></li>
    <li class='line-spacer'></li>
    
    <li><a href="/">Report an Issue</a></li>
</ul>